// Importieren der Variablen
@use "../abstracts/variables" as *;

.impressum_container {
    display: flex;
    flex-direction: row;
    margin: 0;
}

.impressum {
    background-color: $color-primary-light;
    font-size: calc(1rem * var(--font-scale));
    font-weight: normal;
    color: $color-fonts-primary;
    text-decoration: none;
    padding: 2rem;
    text-align: justify;
    hyphens: auto;
    -webkit-hyphens: auto; /* Für Safari und ältere Versionen */
    -ms-hyphens: auto;    /* Für Internet Explorer */

    a {
        text-decoration: none;
        color: $color-fonts-primary;

        &:hover {
            color: $color-background-secondary;
    }
}   
}