// Importieren der Variablen
@use "../abstracts/variables" as *;

.kontakt_container {
    background-color: $color-primary-light;
    display: flex;
    flex-direction: column;
    padding: 0 0 1rem 0;
    width: 100%; // Container nimmt gesamte Breite ein
    margin: 2rem 0 0 0;
}

.kontakt {
    background-color: $color-primary-light; 
    font-size: calc(1rem * var(--font-scale));
    font-weight: normal;
    color: $color-fonts-primary;
    text-decoration: none;
    padding: 2rem;
    text-align: justify;
    max-width: 960px; // Nicht breiter als 960px
    margin: 0 auto; // Zentriert den .kontakt, wenn weniger breit als Container
    hyphens: auto;
    -webkit-hyphens: auto; /* Für Safari und ältere Versionen */
    -ms-hyphens: auto;    /* Für Internet Explorer */

    a {
        text-decoration: none;
        color: $color-fonts-primary;
        &:hover {
            color: $color-background-secondary;
        }
    }
}
